/** Esta es una hoja de estilos externa**/

body {
    background-color: #f4ccf4;
}

#contenido {
    border: 2px solid #f4ccf4; width: 500px; margin: 200px auto;
}

#botones { 
    border: 0px solid #f4ccf4; width: 250px; margin: 25px auto;
}

/**
#botones { 
    border: 0px solid #F6DDD7; width: 250px; margin: 25px auto;
}

**/